.map-splash{
    max-width:70%;
    border-radius:10px;
}

.minimap{
    margin-top:1%;
    max-width:40%;
}

.map-container{
    margin-left:5%;
    margin-right:5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width:70%;
}

@media(max-width:320px){
    .map-splash{
        max-width:100%;
        border-radius:10px;
    }
    .map-container{
        margin-left:5%;
        margin-right:5%;
        display:flex;
        flex-direction: column;
        align-items: center;
        border-radius:10%;
    }
    
}



