@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
  font-family:Poppins;
  min-width:320px;
  --primary-color: #FD4556;
  --secondary-color: rgb(36, 36, 36);
}

body{
  margin:0;
}
