@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
  font-family:Poppins;
}

.nav-bar{
  display:flex;
  justify-content: center;
}

.main-wrapper{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.agentCardWrapper{
  display:flex;
  flex-wrap:wrap;
  max-width:75%;
  min-width:25%;
  justify-content: center;
}

.agentCard{
  /* background-color: red; */
  display:flex;
  flex-direction: column;
  /* border:solid 1px black; */
  max-width:40%;
  margin:15px 15px;
  box-shadow: 0px 0px 25px -20px;
}

.agent-name{
  max-width:50%;
  align-self:center;
}

.agent-icon{
  max-width:50%;
  align-self:center;
}

.agent-description{
  max-width: 75%;
  min-width:50%;
  align-self: center;
}

